<h1>Welcome to Cars, Cars, Cars!</h1>
  <h2>Sales Portal</h2>

<h3>Follow the links below to update our selection of fine automobiles:</h3>

<ul>
  <li><a href='cars'>Cars In Inventory</a></li>
  <li><a href='manufacturers'>Car Manufacturers We Carry</a></li>
</ul>
